@model StandardPage
@inject IApi Api

@{
    ViewBag.Title = Model.Title;
}

@section head {
    <link rel="stylesheet/less" type="text/css" href="~/css/config.min.css">
    <link rel="stylesheet/less" type="text/css" href="~/css/components/block.min.css">
}

<div class="container-fluid">
	<partial name="/Views/Shared/Partial/_Menu.cshtml" />

    @await Html.PartialAsync("/Views/Shared/Partial/_Hero.cshtml", Model)

    @Html.DisplayFor(m => m.Blocks)

    <partial name="/Views/Shared/Partial/_Footer.cshtml" />
</div>