@model PlansPage
@inject IApi Api
@{
    ViewBag.Title = Model.Title;
}

@section head {
    <link rel="stylesheet/less" type="text/css" href="~/css/config.min.css">
    <link rel="stylesheet/less" type="text/css" href="~/css/components/block.min.css">
    <link rel="stylesheet/less" type="text/css" href="~/css/components/plans.min.css">
    <link rel="stylesheet/less" type="text/css" href="~/assets/css/pricing.css">
}

<div class="container-fluid">
    <partial name="/Views/Shared/Partial/_Menu.cshtml" />

    @await Html.PartialAsync("/Views/Shared/Partial/_Hero.cshtml", Model)

    @await Html.PartialAsync("/Views/Shared/Partial/_Plans.cshtml", Model)

    @Html.DisplayFor(m => m.Blocks)

    <partial name="/Views/Shared/Partial/_Footer.cshtml" />
</div>

@section script {
    <script type="text/javascript" src="~/assets/js/plans.js"></script>
}