@model StartPage
@inject IApi Api

@{
    ViewBag.Title = Model.Title;
    ViewBag.HasImage = Model.Hero.PrimaryImage.HasValue;

    string PrimaryImage() {
        if (Model.Hero.PrimaryImage.HasValue) {
            return $"style=background-image:url({Url.Content(Model.Hero.PrimaryImage)})";
        }
        return "";
    }
}

@section head {
    <link rel="stylesheet/less" type="text/css" href="~/css/config.min.css">
}

<div class="container-fluid">
	<!-- START HEADER -->
	<div class="row">
		<div class="col-sm-12">
			<header>
				<div class="nav nav-left">
					<div class="logo"></div>
				</div>
				<div class="nav nav-right">
					<div id="rightmenu-mobile" class="nav-mobile">
						<i class="fas fa-bars"></i>
					</div>

					<div id="rightmenu">
						<ul class="menuoptions">
							<li><a class="button button-active" href="/register.html"><i class="fas fa-user-plus"></i>Create an account</a></li>
							<li><a class="button button-inactive" href="/login.html"><i class="fas fa-home"></i>Customer login</a></li>
						</ul>
					</div>
				</div>
			</header>
		</div>
	</div>
	<!-- END HEADER -->

	<!-- START HERO -->
	<div class="row">
		<div class="col-sm-12">
			<div class="hero">
				<div class="overlay"></div>
				<div class="hero-content">
					<div class="triangle"></div>

					<div class="hero-text">
						<h1>PLACEHOLDER</h1>
						<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Unum nescio, quo modo possit, si luxuriosus sit, finitas cupiditates habere. Parvi enim primo ortu sic iacent, tamquam omnino sine animo sint.</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END HERO -->

	<!-- START MODULE LIST -->
	<!--<div class="row">
		<div class="col-lg">
			<div class="products">
				<div class="products-inner">
					<div class="row">
						<div class="col-lg-3 col-sm-6">
							<div class="product">
								<h3><i class="fas fa-sort-amount-up"></i>Business Unit Management</h3>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="product">
								<h3><i class="fas fa-tasks"></i>Contact Management Module</h3>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="product">
								<h3><i class="fas fa-coins"></i>Financial Module</h3>
							</div>
						</div>
						<div class="col-lg-3 col-sm-6">
							<div class="product">
								<h3><i class="fas fa-file-import"></i>Documentation Support</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>-->
	<!-- END MODULE LIST -->

	<!-- START BLOCK -->
	<div class="row">
		<div class="col-md">
			<div class="block">
				<div class="border border-white"></div>
				<h3>Free end-to-end property management software</h3>
				<div class="divider"></div>

				<div class="row">
					<div class="col-md-6">
						<div class="block-left">
							<h4><i class="fas fa-check"></i>All-in-one</h4>
							<p>RentVision is a top of the line system that provides Landlords with:</p>

							<ul>
								<li>Tenants management</li>
								<li>Full accounting</li>
								<li>Online payments</li>
								<li>Online maintenance requests</li>
								<li>Marketing site</li>
								<li>Postings on multiple listing sites</li>
								<li>Online applications</li>
								<li>Tenant screening</li>
								<li>Automatic invoicing</li>
								<li>Property analysis reports</li>
							</ul>

							<a class="button button-active" href="#">
								Read more <i class="fas fa-arrow-right"></i>
							</a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="block-right">
							<img src="//placehold.it/600x500" class="pull-right">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END BLOCK -->

	<!-- START BLOCK GRAY -->
	<div class="row">
		<div class="col-md">
			<div class="block block-grey">
				<div class="border border-grey"></div>
				<h3>Free end-to-end property management software</h3>
				<div class="divider"></div>

				<div class="row">
					<div class="col-md-6">
						<div class="block-left">
							<img src="//placehold.it/600x500" class="pull-right">
						</div>
					</div>
					<div class="col-md-6">
						<div class="block-right">
							<h4><i class="fas fa-check"></i>All-in-one</h4>
							<p>RentVision is a top of the line system that provides Landlords with:</p>

							<ul>
								<li>Tenants management</li>
								<li>Full accounting</li>
								<li>Online payments</li>
								<li>Online maintenance requests</li>
								<li>Marketing site</li>
								<li>Postings on multiple listing sites</li>
								<li>Online applications</li>
								<li>Tenant screening</li>
								<li>Automatic invoicing</li>
								<li>Property analysis reports</li>
							</ul>

							<a class="button button-active" href="#">
								Read more <i class="fas fa-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END BLOCK GRAY -->

	<!-- START BLOCK -->
	<div class="row">
		<div class="col-md">
			<div class="block">
				<div class="border border-white"></div>
				<h3>Free end-to-end property management software</h3>
				<div class="divider"></div>

				<div class="row">
					<div class="col-md-6">
						<div class="block-left">
							<h4><i class="fas fa-check"></i>All-in-one</h4>
							<p>RentVision is a top of the line system that provides Landlords with:</p>

							<ul>
								<li>Tenants management</li>
								<li>Full accounting</li>
								<li>Online payments</li>
								<li>Online maintenance requests</li>
								<li>Marketing site</li>
								<li>Postings on multiple listing sites</li>
								<li>Online applications</li>
								<li>Tenant screening</li>
								<li>Automatic invoicing</li>
								<li>Property analysis reports</li>
							</ul>

							<a class="button button-active" href="#">
								Read more <i class="fas fa-arrow-right"></i>
							</a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="block-right">
							<img src="//placehold.it/600x500" class="pull-right">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END BLOCK -->

	<!-- START FOOTER -->
	<div class="row">
		<div class="col-lg">
			<footer>
				<div class="row">
					<div class="col-lg-6">
						<div class="footer-block footer-block-left">
							<div class="logo"></div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="footer-block footer-block-middle">
							<ul>
								<li><a href="#">Products</a></li>
								<li><a href="#">Plans</a></li>
								<li><a href="#">About us</a></li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="footer-block footer-block-right">
							<ul>
								<li><a href="#">News</a></li>
								<li><a href="#">Create an account</a></li>
								<li><a href="#">Customer login</a></li>
							</ul>
						</div>
					</div>
				</div>
			</footer>

			<div class="row">
				<div class="col-lg-12">
					<div class="footer-copyright">
						<div class="row">
							<div class="col-lg-6">
								<div class="left">
									<p>&copy; 2019, <a href="#">Rentvision</a>. All rights reserved.</p>
								</div>
							</div>

							<div class="col-lg-6">
								<div class="right">
									<a href="#">Terms and conditions</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END FOOTER -->

</div>

@section script {
    <script src="assets/js/header.js" ></script>
}