@model VerificationPage
@inject IApi Api

@{
    ViewBag.Title = Model.Title;
}

@section head {
    <link rel="stylesheet/less" type="text/css" href="~/css/config.min.css">
    <link rel="stylesheet/less" type="text/css" href="~/css/portal.min.css">
}

<div class="d-flex justify-content-center">
    <div class="setup">
        <div class="logo-box">
            <div class="logo logo-dark"></div>
        </div>

        <div class="setup-content">
            <h5>@Model.Fields.Title</h5>

            <p class="loadingText">@String.Format(Model.Fields.Content, Model.Email)</p>

            <a href="/setup/@Model.Email">@Model.Fields.Continue</a>
        </div>
    </div>
</div>