<!doctype html>
<html lang="en">
<head>
    @if (Model is Piranha.Models.IMeta)
    {
        <partial name="Partial/_Meta.cshtml" />
    }

    <title>@ViewBag.Title</title>

    <partial name="Partial/_Head.cshtml" />

    @RenderSection("head", required: false)
</head>
<body class="fuelux">
    @*<div id="loader" style="position:fixed;z-index:1000;left:0;top:0;width:100%;height:100%;background:#132c73;"></div>*@

    @RenderBody()

    <partial name="Partial/_Scripts.cshtml" />

    @RenderSection("script", required: false)
</body>
</html>