@import "../colours.less";

.block {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 500px;
    padding: 20px 45px;

    p, li {
        font-family: 'Open Sans';
    }

    img {
        margin: 0 0 20px 0;
        max-width: 75%;
    }

    &.block-grey {
        background-color: @COLOUR_ISABELLINE;
        padding-bottom: 75px;
    }

    &.block-call-to-action {
        min-height: 150px !important;
        padding: 20px 0 30px 0;
        background: @COLOUR_PRIMARY !important;
        color: #FFF !important;
        webkit-box-shadow: inset 0px 0px 30px -5px rgba(0,0,0,0.53);
        moz-box-shadow: inset 0px 0px 30px -5px rgba(0,0,0,0.53);
        box-shadow: inset 0px 0px 30px -5px rgba(0,0,0,0.53);
        background: url('/assets/images/overlay-call-to-action.jpg') no-repeat center center;
        background-size: cover;

        a {
            max-width: 300px !important;
            margin: 0 auto;
            background: rgb(122,181,91);
            background: linear-gradient(180deg, rgba(122,181,91,1) 0%, rgba(107,158,79,1) 100%);

            &:hover {
                background: lighten(rgb(122,181,91), 10%);
                background: linear-gradient(0deg, rgba(122,181,91,1) 0%, rgba(107,158,79,1) 100%);
            }
        }
    }

    ul {
        list-style-type: none;
        padding: 0 0 20px 20px;

        li {
            position: relative;
            padding: 10px 0 0 0;
            font-size: 0.9em;
            color: hsla(222, 47%, 14%, 1);

            &:before {
                font-weight: normal;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                content: "✓";
                position: absolute;
                left: -25px;
                font-weight: 600;
                color: #7ab55b;
            }
        }
    }

    a {
        display: block !important;
        max-width: 150px;
        text-align: center;
        text-decoration: none;
        color: #FFF;
        padding: 10px 20px;
        margin-bottom: 20px !important;
        border: 1px solid @COLOUR_VIVIDBURGUNDY;
        border-radius: 4px;
        .gradient();

        i {
            padding-left: 5px;
        }

        &:hover {
            .gradient-hover();
        }
    }

    h3 {
        display: block;
        text-align: center;
        padding: 10px 0 20px 0;
        font-weight: 400;
    }

    h4 {
        font-weight: 500 !important;

        i {
            padding-right: 20px;
            color: @COLOUR_LAVA;
            text-shadow: 0px 0px 7px @COLOUR_LAVA;
        }
    }

    p {
        font-size: 0.9em !important;
    }

    .divider {
        display: block;
        width: 200px;
        height: 2px;
        background-color: @COLOUR_LAVA;
        margin: 0 auto 50px auto;
    }
}

.border {
    position: absolute;
    width: 120%;
    height: 100px;
    top: -100px;
    left: -45px;
    border: none !important;

    &.border-white {
        background: url('/assets/images/block-border-white-double.png') no-repeat center center;
        background-size: cover;
    }

    &.border-grey {
        background: url('/assets/images/block-border-grey-double.png') no-repeat center center;
        background-size: cover;
    }

    &.border-red {
        background: url('/assets/images/footer-border-overlay.png') no-repeat center center;
        background-size: cover;
    }
}