.block {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 500px;
  padding: 20px 45px;
}
.block p,
.block li {
  font-family: 'Open Sans';
}
.block img {
  margin: 0 0 20px 0;
  max-width: 75%;
}
.block.block-grey {
  background-color: #ECECF0;
  padding-bottom: 75px;
}
.block.block-call-to-action {
  min-height: 150px !important;
  padding: 20px 0 30px 0;
  background: #4b6cb7 !important;
  color: #FFF !important;
  webkit-box-shadow: inset 0px 0px 30px -5px rgba(0, 0, 0, 0.53);
  moz-box-shadow: inset 0px 0px 30px -5px rgba(0, 0, 0, 0.53);
  box-shadow: inset 0px 0px 30px -5px rgba(0, 0, 0, 0.53);
  background: url('/assets/images/overlay-call-to-action.jpg') no-repeat center center;
  background-size: cover;
}
.block.block-call-to-action a {
  max-width: 300px !important;
  margin: 0 auto;
  background: #7ab55b;
  background: linear-gradient(180deg, #7ab55b 0%, #6b9e4f 100%);
}
.block.block-call-to-action a:hover {
  background: #97c57e;
  background: linear-gradient(0deg, #7ab55b 0%, #6b9e4f 100%);
}
.block ul {
  list-style-type: none;
  padding: 0 0 20px 20px;
}
.block ul li {
  position: relative;
  padding: 10px 0 0 0;
  font-size: 0.9em;
  color: hsl(222, 47%, 14%);
}
.block ul li:before {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "✓";
  position: absolute;
  left: -25px;
  font-weight: 600;
  color: #7ab55b;
}
.block a {
  display: block !important;
  max-width: 150px;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  padding: 10px 20px;
  margin-bottom: 20px !important;
  border: 1px solid #4b6cb7;
  border-radius: 4px;
  background: #4b6cb7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #4b6cb7, #3a5ca1);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #4b6cb7, #3a5ca1);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.block a i {
  padding-left: 5px;
}
.block a:hover {
  background: #4b6cb7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #4b6cb7, #3a5ca1);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #4b6cb7, #3a5ca1);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.block h3 {
  display: block;
  text-align: center;
  padding: 10px 0 20px 0;
  font-weight: 400;
}
.block h4 {
  font-weight: 500 !important;
}
.block h4 i {
  padding-right: 20px;
  color: #4b6cb7;
  text-shadow: 0px 0px 7px #4b6cb7;
}
.block p {
  font-size: 0.9em !important;
}
.block .divider {
  display: block;
  width: 200px;
  height: 2px;
  background-color: #4b6cb7;
  margin: 0 auto 50px auto;
}
.border {
  position: absolute;
  width: 120%;
  height: 100px;
  top: -100px;
  left: -45px;
  border: none !important;
}
.border.border-white {
  background: url('/assets/images/block-border-white-double.png') no-repeat center center;
  background-size: cover;
}
.border.border-grey {
  background: url('/assets/images/block-border-grey-double.png') no-repeat center center;
  background-size: cover;
}
.border.border-red {
  background: url('/assets/images/footer-border-overlay.png') no-repeat center center;
  background-size: cover;
}