.cd-hero__content p {
  font-family: 'Open Sans' !important;
}
.cd-hero__content h2 {
  font-weight: 500 !important;
}
.cd-hero__content h2,
.cd-hero__content p {
  text-shadow: 1px 1px 1px #000 !important;
  margin: 0 !important;
  line-height: 130% !important;
}
.hero {
  position: relative;
  width: inherit;
  height: 500px;
  background: url('/assets/images/hero4.jpg') no-repeat;
  background-size: cover;
}
.hero.hero-small {
  height: 250px !important;
}
.hero .hero-content {
  position: relative;
  width: inherit;
  height: inherit;
  color: #FFF;
}
.hero .hero-content .hero-text {
  position: absolute;
  top: 5%;
  z-index: 3;
  padding: calc(70px + 50px) 20px 30px 40px;
  text-shadow: 1px 1px 8px #000;
}
.hero .hero-content .hero-text h1 {
  font-size: 9vmin;
  font-weight: 300;
}
.hero .hero-content .hero-text h5 {
  display: block;
  width: 50%;
  font-size: 4vmin;
}
@media all and (max-width: 768px) {
  .hero .hero-content .hero-text h5 {
    width: 60%;
  }
}
@media all and (max-width: 1384px) {
  .hero .hero-content .hero-text h5 {
    width: 85%;
  }
}