.plans {
  position: relative;
  width: auto;
  height: auto;
  min-height: 250px;
  background: #FFF;
}
@media all and (max-width: 768px) {
  .plans .plans-inner {
    position: initial !important;
    padding: 20px 20px !important;
  }
}
.plans .plans-inner {
  position: absolute;
  width: 100%;
  padding: 0 45px;
  z-index: 5;
  top: -100px;
}
.plans .plans-inner .plan {
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 220px;
  padding: 40px 20px 60px 20px;
  background: #FFF;
  margin-bottom: 20px;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;
  background: url('/assets/images/plan-overlay.jpg') no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: box-shadow 0.1s, background 0.1s, color 0.1s;
}
.plans .plans-inner .plan:hover {
  background: url('/assets/images/plan-overlay.jpg') no-repeat;
  background-size: cover;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3);
}
.plans .plans-inner .plan:hover i {
  color: #C61120;
}
.plans .plans-inner .plan h3 {
  font-size: 2.5em;
}
.plans .plans-inner .plan h5 {
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
}
.plans .plans-inner .plan span {
  display: inline-block;
  font-size: 0.8em;
  color: #bbb;
  margin: 0 0 20px 0;
  font-weight: 500;
}
.plans .plans-inner .plan i {
  display: block;
  color: #A2142D;
  font-size: 3em;
  padding: 30px 0;
}
.plans .plans-inner .plan p {
  font-size: 0.9em;
}
.plans .plans-inner .plan a.button {
  display: block !important;
  max-width: 150px;
  padding: 10px 20px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  border: 1px solid #A2142D;
  border-radius: 4px;
  background-color: #C61120;
}
.plans .plans-inner .plan a.button i {
  padding-left: 5px;
}
.plans .plans-inner .plan a.button:hover {
  background-color: #ec1e2f !important;
}
.plans .plans-inner .features {
  width: inherit;
  height: auto;
  background: #FFF;
}
.plans .plans-inner .features ul li {
  padding: 15px;
  border-bottom: 1px solid #DDD;
  text-align: center;
}
.plans .plans-inner .features ul li.inactive {
  color: #BBB;
}
.plans .plans-inner .features ul li i {
  padding: 0 10px 0 0;
  font-size: 0.9em;
  color: #A2142D;
}