@{
    string PrimaryImage() {
        if (Model.Hero.PrimaryImage.HasValue) {
            return $"style=background-image:url({Url.Content(Model.Hero.PrimaryImage)}) no-repeat center center !important";
        }
        return "";
    }
}

<!-- START HERO -->
<section class="cd-hero js-cd-hero">
    <ul class="cd-hero__slider">
        <li class="cd-hero__slide cd-hero__slide--selected js-cd-slide">
            <div class="cd-hero__content cd-hero__content--half-width">
                <h2>Slide title here</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In consequatur cumque natus!</p>
                @*<a href="#0" class="cd-hero__btn">Start</a>
                <a href="#0" class="cd-hero__btn cd-hero__btn--secondary">Learn More</a>*@
            </div>
            <div class="cd-hero__content cd-hero__content--half-width cd-hero__content--img">
                <img src="http://twinvision.nl/content/twinvision/slide-1.png" alt="tech 1">
            </div>
        </li>
    </ul>
    <div class="cd-hero__nav js-cd-nav" style="display:none">
        @*<nav>
            <span class="cd-hero__marker cd-hero__marker--item-1 js-cd-marker"></span>
            <ul>
                <li class="cd-selected"><a href="#0">Intro</a></li>
                <li><a href="#0">Tech 1</a></li>
                <li><a href="#0">Tech 2</a></li>
                <li><a href="#0">Video</a></li>
                <li><a href="#0">Image</a></li>
            </ul>
        </nav>*@
    </div>
</section>
<!-- END HERO -->