@model ProductPage

@{ 
    var modules = Model.ModuleItems;
}

<!-- START MODULE LIST -->
<div class="row">
    <div class="col-lg">
        <div class="products">
            <div class="products-inner">
                <div class="row">
                    @if (modules.Count > 0)
                    {
                        @foreach (var module in modules)
                        {
                            <div class="col-lg-3 col-sm-6">
                                <a href="@module.Page.Page.Permalink">
                                    <div class="product">
                                        <h3 style="text-shadow: none !important;"><i class="fas @module.Icon.Value"></i>@module.Name</h3>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MODULE LIST -->