body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #FFF;
  font-family: 'Ubuntu', sans-serif;
}
a {
  text-shadow: 1px 1px 0px #222;
  color: #A9A9B9;
}
a:hover {
  text-decoration: none;
  color: #2276D9;
}
.card-deck a {
  text-shadow: none !important;
}
.logo {
  width: 200px;
  height: 70px;
  background: url('/assets/images/logos/RentVision-03-Light.svg') no-repeat center center;
  background-size: contain;
}
.logo.logo-dark {
  background: url('/assets/images/logos/RentVision-02-Dark.png') no-repeat center center;
  background-size: contain;
}
.container-fluid {
  position: relative;
  width: inherit;
  height: auto;
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
}