body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #FFF;
  font-family: 'Ubuntu', sans-serif;
}
a {
  text-shadow: 1px 1px 0px #222;
  color: #A9A9B9;
}
a:hover {
  text-decoration: none;
  color: #cd2543;
}
.logo {
  width: 200px;
  height: 70px;
  background: url('/assets/images/logos/RentVision-02-Light.png') no-repeat center center;
  background-size: contain;
}
.logo.logo-dark {
  background: url('/assets/images/logos/RentVision-02-Dark.png') no-repeat center center;
  background-size: contain;
}
.container-fluid {
  position: relative;
  width: inherit;
  height: auto;
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
}
#header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 65px;
  z-index: 400;
  font-weight: 700 !important;
  font-family: 'Ubuntu';
}
#header #leftmenu {
  float: left;
  width: 200px;
  display: inline-block;
  padding: 11px 10px 5px 40px;
  text-align: center;
}
#header #leftmenu a {
  line-height: 40px;
}
#header #leftmenu p {
  color: #555;
  font-size: 1.2em;
  line-height: 20px;
}
#header #leftmenu p span {
  color: #6FC516;
}
#header #middlemenu {
  position: relative;
  flex-grow: 1;
  display: inline-block;
  vertical-align: top;
  horizontal-align: left;
  width: auto;
  height: inherit;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 4px;
}
#header #middlemenu #headerSearchBox {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 7px;
  background-color: #F5F5F5;
  border: 0;
  color: #555;
  border: 1px solid #EEE;
  border-radius: 4px;
}
#header #middlemenu #headerSearchBox:focus {
  outline: none;
  background-color: #F3F3F3;
}
#header #middlemenu #headerSearchBox:hover {
  background-color: #F2F2F2;
}
#header #middlemenu #headerSearchBox:hover input[name="search"] {
  background-color: #F2F2F2;
}
#header #middlemenu #headerSearchBox #headerSearchFilter {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1001;
  width: 50px;
  height: 100%;
  text-align: center;
  line-height: 43px;
  color: #AAA;
  cursor: pointer;
}
#header #middlemenu #headerSearchBox #headerSearchFilter:hover {
  color: #5e5e5e;
}
#header #middlemenu #headerSearchBox #headerSearchFilter #searchFilter {
  position: absolute;
  left: -100px;
  top: 53px;
  z-index: 1002;
  width: 200px;
  height: auto;
  background: #FFF;
  border: 1px solid #DDD;
  padding: 10px 15px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
#header #middlemenu #headerSearchBox #headerSearchFilter #searchFilter label {
  color: #444;
}
#header #middlemenu #headerSearchBox #headerSearchFilter #searchFilter select {
  display: block;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 8px 7px;
  border-radius: 4px;
  border: 1px solid rgba(100, 100, 100, 0.2);
  background: #FFF;
  color: #40556d;
  font-size: 0.9em;
}
#header #middlemenu input[name="search"] {
  flex: 1;
  background-color: #F5F5F5;
  border: none;
  width: 100%;
  height: 100%;
}
#header #middlemenu input[name="search"]:focus {
  outline: none;
}
@media screen and (max-width: 992px) {
  #header #middlemenu #headerSearchResults {
    position: fixed !important;
  }
}
#header #middlemenu #headerSearchResults {
  position: absolute;
  left: 0;
  top: 65px;
  width: 100%;
  height: auto;
  max-height: 350px;
  overflow: auto;
  overflow-y: auto;
  border: 1px solid #DDD;
  background: #FFF;
  z-index: 1000 !important;
}
#header #middlemenu #headerSearchResults ul {
  list-style-type: none;
  padding: 0 !important;
  margin: 0 !important;
}
#header #middlemenu #headerSearchResults ul a {
  text-decoration: none !important;
  color: #666;
}
#header #middlemenu #headerSearchResults ul a:hover {
  color: #72ab55;
}
#header #middlemenu #headerSearchResults ul li {
  padding: 10px 0;
  cursor: pointer;
  border-bottom: 1px solid #DDD !important;
  height: 81px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#header #middlemenu #headerSearchResults ul li:hover {
  background: #F8F8F8;
}
#header #middlemenu #headerSearchResults .headerProductImage,
#header #middlemenu #headerSearchResults .headerProductInfo {
  display: inline-block;
  vertical-align: middle;
}
#header #middlemenu #headerSearchResults .headerProductImage {
  padding: 0 0 0 10px;
  height: 100%;
}
#header #middlemenu #headerSearchResults .headerProductInfo {
  padding-left: 7px;
}
#header #middlemenu #headerSearchResults .headerProductInfo h5,
#header #middlemenu #headerSearchResults .headerProductInfo span,
#header #middlemenu #headerSearchResults .headerProductInfo p {
  margin: 0 !important;
}
#header #middlemenu #headerSearchResults .headerProductInfo .materialTypeToolTip {
  background: #72ab55;
  padding: 2px;
  border-radius: 4px;
  color: #FFF;
  font-size: 0.8em;
}
#header #middlemenu #headerSearchResults .headerProductInfo h5 {
  font-size: 1.2em;
}
#header #middlemenu #headerSearchResults .headerProductInfo span {
  font-size: 0.9em;
  color: #AAA;
}
@media (min-width: 992px) {
  #header #middlemenu #headerSearchResults .headerProductInfo p {
    width: auto !important;
    overflow: hidden !important;
  }
}
@media (min-width: 768px) {
  #header #middlemenu #headerSearchResults .headerProductInfo p {
    width: 500px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
@media (max-width: 768px) {
  #header #middlemenu #headerSearchResults .headerProductInfo p {
    width: 300px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
#header #middlemenu #headerSearchResults .headerProductInfo p {
  font-size: 0.85em;
  color: #444;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
  max-width: inherit;
  min-width: 300px;
}
#header #rightmenu-mobile {
  display: inline-block;
  float: right;
  width: auto;
  height: 100%;
  text-align: right;
  cursor: pointer;
}
#header #rightmenu-mobile i {
  width: 60px;
  height: 100%;
  line-height: 65px;
  color: #FFF;
  text-align: center;
}
@media screen and (min-width: 992px) {
  #header #rightmenu-mobile {
    display: none;
  }
}
#header #rightmenu {
  display: inline-block;
  float: right;
  width: auto;
  height: inherit;
  text-align: right;
}
@media screen and (max-width: 992px) {
  #header #rightmenu {
    display: none;
    position: fixed;
    right: 0;
    top: 65px;
    width: 100%;
  }
}
#header #rightmenu #menuoptions {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 100%;
}
#header #rightmenu #menuoptions a {
  text-decoration: none !important;
}
@media (max-width: 992px) {
  #header #rightmenu #menuoptions li.headerOption {
    float: none !important;
    display: block !important;
    height: auto !important;
    text-align: center;
    background: #171717;
    background: linear-gradient(90deg, #171717 0%, #262626 100%) !important;
  }
}
#header #rightmenu #menuoptions li.headerOption {
  position: relative;
  float: left;
  display: inline-block;
  width: auto;
  color: #FFF !important;
  font-size: 0.9em;
  font-weight: 300;
  height: 100%;
  line-height: 65px;
  padding: 0 30px;
  cursor: pointer;
}
#header #rightmenu #menuoptions li.headerOption i.fas {
  font-size: 0.75em;
  padding-right: 10px;
  color: #FFF;
}
#header #rightmenu #menuoptions li.headerOption i.fas.fa-angle-up {
  color: #EEE;
}
#header #rightmenu #menuoptions li.headerOption:hover {
  color: #FFF;
  background-color: #1f1f1f;
}
#header #rightmenu #menuoptions li.headerOption.active {
  background-color: #6FC516;
}
#header #rightmenu #menuoptions li.headerOption .headerHoverBar {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background: #C61120;
}
#header #rightmenu #menuoptions li.headerOption .headerDropdown {
  display: none;
  position: absolute;
  left: 0;
  background: #FFF;
  border: 1px solid #DDD;
  padding: 0 !important;
  width: 200px;
  text-align: center;
  margin-left: -100px;
}
#header #rightmenu #menuoptions li.headerOption .headerDropdown li {
  display: block;
  list-style-type: none;
  color: #444;
  border-bottom: 1px solid #DDD;
}
#header #rightmenu #menuoptions li.headerOption .headerDropdown li:hover {
  color: #222;
  background: #F5F5F5;
}
@media (max-width: 992px) {
  #header #rightmenu #menuoptions li.headerOption .headerDropdown {
    position: initial;
    width: 100%;
    margin: 0;
  }
}
.btn-primary {
  border: none;
  background: #72ab55;
  color: #FFF;
  padding: 7px 20px;
  border: 1px solid #679a4d;
  border-radius: 3px;
}
.btn-primary {
  background: #7fbd5a;
  background: -moz-linear-gradient(top, #7fbd5a 0%, #7fbd5a 49%, #70a852 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #7fbd5a), color-stop(49%, #7fbd5a), color-stop(100%, #70a852));
  background: -webkit-linear-gradient(top, #7fbd5a 0%, #7fbd5a 49%, #70a852 100%);
  background: -o-linear-gradient(top, #7fbd5a 0%, #7fbd5a 49%, #70a852 100%);
  background: -ms-linear-gradient(top, #7fbd5a 0%, #7fbd5a 49%, #70a852 100%);
  background: linear-gradient(to bottom, #7fbd5a 0%, #7fbd5a 49%, #70a852 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7fbd5a', endColorstr='#70a852', GradientType=0);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  border: 1px solid #679a4d;
  background: #70a852;
  background: -moz-linear-gradient(top, #70a852 0%, #7fbd5a 51%, #7fbd5a 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #70a852), color-stop(51%, #7fbd5a), color-stop(100%, #7fbd5a));
  background: -webkit-linear-gradient(top, #70a852 0%, #7fbd5a 51%, #7fbd5a 100%);
  background: -o-linear-gradient(top, #70a852 0%, #7fbd5a 51%, #7fbd5a 100%);
  background: -ms-linear-gradient(top, #70a852 0%, #7fbd5a 51%, #7fbd5a 100%);
  background: linear-gradient(to bottom, #70a852 0%, #7fbd5a 51%, #7fbd5a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70a852', endColorstr='#7fbd5a', GradientType=0);
}
#searchFilter {
  padding: 10px 10px;
  border-bottom: 1px solid #EEE;
}
#searchFilter .filterOption,
#searchFilter #filterReset {
  display: inline-block;
  width: auto;
}
#searchFilter #filterReset {
  margin: 0;
}
#searchFilter label {
  color: #555;
}
#searchFilter select {
  width: auto;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #DDD;
  margin: 0 10px;
}
#searchFilter #filterReset {
  border: none;
  background: #72ab55;
  color: #FFF;
  padding: 7px 20px;
  border: 1px solid #679a4d;
  border-radius: 3px;
  background: #7fbd5a;
  background: -moz-linear-gradient(top, #7fbd5a 0%, #7fbd5a 49%, #70a852 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #7fbd5a), color-stop(49%, #7fbd5a), color-stop(100%, #70a852));
  background: -webkit-linear-gradient(top, #7fbd5a 0%, #7fbd5a 49%, #70a852 100%);
  background: -o-linear-gradient(top, #7fbd5a 0%, #7fbd5a 49%, #70a852 100%);
  background: -ms-linear-gradient(top, #7fbd5a 0%, #7fbd5a 49%, #70a852 100%);
  background: linear-gradient(to bottom, #7fbd5a 0%, #7fbd5a 49%, #70a852 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7fbd5a', endColorstr='#70a852', GradientType=0);
}
@media (max-width: 992px) {
  #searchFilter select {
    width: 100% !important;
  }
  #searchFilter .filterOption {
    display: block !important;
    width: 100% !important;
  }
  #searchFilter #filterReset {
    display: block !important;
    width: 40% !important;
    margin: 10px 0 0 10px !important;
  }
  #searchFilter label:nth-child(2) {
    margin-top: 10px !important;
  }
}
.hero {
  position: relative;
  width: inherit;
  height: 500px;
  background: url('/assets/images/hero4.jpg') no-repeat;
  background-size: cover;
}
.hero .hero-content {
  position: relative;
  width: inherit;
  height: inherit;
  color: #FFF;
}
.hero .hero-content .hero-text {
  position: absolute;
  top: 5%;
  z-index: 3;
  padding: calc(70px + 50px) 20px 30px 40px;
  text-shadow: 1px 1px 8px #000;
}
.hero .hero-content .hero-text h1 {
  font-size: 9vmin;
  font-weight: 300;
}
.hero .hero-content .hero-text h5 {
  display: block;
  width: 50%;
  font-size: 4vmin;
}
@media all and (max-width: 768px) {
  .hero .hero-content .hero-text h5 {
    width: 60%;
  }
}
@media all and (max-width: 1384px) {
  .hero .hero-content .hero-text h5 {
    width: 85%;
  }
}
.products {
  position: relative;
  width: auto;
  height: auto;
  min-height: 250px;
  background: #ececf0;
}
.products .products-inner {
  width: 100%;
  padding: 0 45px;
  z-index: 5;
  top: -100px;
}
.products .products-inner .product {
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 220px;
  padding: 40px 20px 60px 20px;
  background: #FFF;
  margin-bottom: 20px;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;
  background: url('/assets/images/block-overlay.jpg') no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: box-shadow 0.1s, background 0.1s, color 0.1s;
}
.products .products-inner .product:hover {
  background: url('/assets/images/block-overlay-hover.jpg') no-repeat;
  background-size: cover;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3);
}
.products .products-inner .product:hover i {
  color: #C61120;
}
.products .products-inner .product h3 {
  font-size: 1em;
}
.products .products-inner .product h3 i {
  display: block;
  color: #A2142D;
  font-size: 4em;
  padding: 0 0 10px 0;
}
.products .products-inner .product p {
  font-size: 0.9em;
}
.block {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 500px;
  padding: 20px 45px;
}
.block p,
.block li {
  font-family: 'Open Sans';
}
.block img {
  margin: 0 0 20px 0;
  max-width: 75%;
}
.block.block-grey {
  background-color: #ECECF0;
  padding-bottom: 75px;
}
.block ul {
  list-style-type: none;
  padding: 0 0 20px 20px;
}
.block ul li {
  position: relative;
}
.block ul li:before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: -18px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #C61120;
  -webkit-box-shadow: 0 0 10px #C61120;
  box-shadow: 0 0 10px #C61120;
}
.block a {
  display: block !important;
  max-width: 150px;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  padding: 10px 20px;
  margin-bottom: 20px !important;
  border: 1px solid #A2142D;
  border-radius: 4px;
  background-color: #C61120;
}
.block a i {
  padding-left: 5px;
}
.block a:hover {
  background-color: #ec1e2f !important;
}
.block h3 {
  display: block;
  text-align: center;
  padding: 10px 0 20px 0;
  font-weight: 400;
}
.block h4 {
  font-weight: 500 !important;
}
.block h4 i {
  padding-right: 20px;
  color: #C61120;
  text-shadow: 0px 0px 7px #C61120;
}
.block p {
  font-size: 0.9em !important;
}
.block .divider {
  display: block;
  width: 200px;
  height: 2px;
  background-color: #C61120;
  margin: 0 auto 50px auto;
}
.border {
  position: absolute;
  width: 120%;
  height: 100px;
  top: -100px;
  left: -45px;
  border: none !important;
}
.border.border-white {
  background: url('/assets/images/block-border-white-double.png') no-repeat center center;
  background-size: cover;
}
.border.border-grey {
  background: url('/assets/images/block-border-grey-double.png') no-repeat center center;
  background-size: cover;
}
.border.border-red {
  background: url('/assets/images/footer-border-overlay.png') no-repeat center center;
  background-size: cover;
}
footer {
  position: relative;
  width: inherit;
  height: auto;
  min-height: 50px;
  padding: 20px 45px 5px 45px;
  background: #333;
}
footer .footer-block {
  color: #ECECF0;
  font-size: 0.9em;
}
footer .footer-block a {
  display: block;
  width: 100%;
  padding: 5px 0;
}
.footer-copyright {
  width: inherit;
  height: auto;
  padding: 10px 45px;
  background: #222;
  color: #999999;
  font-size: 0.9em;
}
.footer-copyright .right {
  text-align: right;
}
.footer-copyright p {
  margin: 0;
}
@media all and (max-width: 768px) {
  .footer-copyright,
  .right,
  .left {
    text-align: center !important;
  }
}