body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: url('/assets/images/hero.jpg') no-repeat center center;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
}
a {
  text-shadow: 1px 1px 0px #222;
  color: #A9A9B9;
}
a:hover {
  text-decoration: none;
  color: #2276D9;
}
.statusMessage {
  display: block;
  padding: 5px 0;
  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
  color: rgba(255, 111, 111, 0.8);
}
.logo {
  width: 200px;
  height: 30px;
  margin: 0 auto;
  background: url('/assets/images/logos/RentVision-03-Light.svg') no-repeat center center;
  background-size: contain;
}
.logo.logo-dark {
  background: url('/assets/images/logos/RentVision-03-Light.svg') no-repeat center center;
  background-size: contain;
}
.d-flex {
  position: relative;
  width: inherit;
  height: auto;
  padding: 100px 20px 20px 20px;
  margin: 0 0 0 0;
}
.d-flex.form-register {
  padding: 60px 20px 20px 20px;
}
form {
  padding: 20px 20px 40px 20px;
}
.logo-box {
  padding: 10px 0 10px 0;
  background: #222;
}
.form,
.setup {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 4px;
  border-bottom: 3px solid #4b6cb7;
  background: #FFF;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}
.form .input-icons i,
.setup .input-icons i {
  position: absolute;
  color: #436692;
  padding: 0 10px;
  line-height: 50px;
  font-size: 1em;
}
.form .input-icons,
.setup .input-icons {
  width: 100%;
  margin-bottom: 10px;
}
.form .icon,
.setup .icon {
  padding: 10px;
  color: green;
  min-width: 50px;
  text-align: center;
}
.form .input-field,
.setup .input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}
.form .d-inline-flex,
.setup .d-inline-flex {
  width: 100%;
}
.form .padding,
.setup .padding {
  width: 100%;
}
.form input[type="email"],
.setup input[type="email"],
.form input[type="password"],
.setup input[type="password"],
.form input[type="text"],
.setup input[type="text"],
.form button,
.setup button,
.form select,
.setup select {
  display: block;
  width: 100%;
  max-width: 600px;
  height: 50px;
  margin: 0 0 20px 0;
  padding: 0 0 0 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.form input[name="firstname"],
.setup input[name="firstname"] {
  border-right: none;
}
.form input[name="confirmPassword"],
.setup input[name="confirmPassword"] {
  border-left: none;
}
.form input[type="text"],
.setup input[type="text"],
.form input[type="password"],
.setup input[type="password"] {
  width: 100%;
}
.form input[type="password"],
.setup input[type="password"] {
  margin: 0 0 10px 0;
}
.form label,
.setup label {
  font-size: 0.8em;
}
.form button,
.setup button {
  margin: 10px 0 10px 0;
  border: 1px solid #DDD;
  border-radius: 4px;
  transition: background 0.5s !important;
  color: #FFF;
  background: #4b6cb7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #4b6cb7, #3a5ca1);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #4b6cb7, #3a5ca1);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.form button:hover,
.setup button:hover {
  background: #4b6cb7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #4b6cb7, #3a5ca1);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #4b6cb7, #3a5ca1);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.form a,
.setup a {
  text-shadow: none;
}
.form a i,
.setup a i {
  padding: 0 10px 0 0;
}
.setup {
  padding: 10px 20px 20px 20px !important;
}
.setup .setup-content {
  text-align: center;
}
.setup .setup-content .timeOutMessage {
  font-size: 0.8em;
}
.setup .setup-content i {
  font-size: 3em;
  margin: 20px 0;
}
.setup .setup-content p {
  font-size: 0.9em;
}
.setup .setup-content span {
  font-size: 0.8em;
  color: #AAA;
}
.passwordRequirements {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  background: rgba(198, 17, 32, 0.2);
  font-size: 0.9em;
  border: 1px solid rgba(198, 17, 32, 0.2);
  border-radius: 2px;
  color: hsl(340, 89%, 25%) !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.passwordRequirements span {
  display: block;
  margin: 0 0 5px 0;
}
.passwordRequirements ul {
  margin: 0;
}
.passwordRequirements ul li i {
  color: rgba(200, 111, 111, 0.8);
  padding: 0 5px 0 0;
}
.passwordRequirements ul li i.fa-check {
  color: #6ec13c;
}
button[disabled] {
  background: #DDD;
  color: #555;
}
button[disabled]:hover {
  background: #DDD;
  color: #555;
  cursor: not-allowed;
}