@import "colours.less";

body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: url('/assets/images/hero.jpg') no-repeat center center;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

a {
	text-shadow: 1px 1px 0px #222;
	color: @COLOUR_DARKMEDIUMGRAY;

	&:hover {
		text-decoration: none;
		color: @COLOUR_HOVER_LINK;
	}
}

.statusMessage {
    display: block;
    padding: 5px 0;
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
    color: rgba(255, 111, 111, 0.8);
}

.logo {
    width: 200px;
    height: 30px;
    margin: 0 auto;
    background: url('/assets/images/logos/RentVision-03-Light.svg') no-repeat center center;
    background-size: contain;

    &.logo-dark {
        background: url('/assets/images/logos/RentVision-03-Light.svg') no-repeat center center;
        background-size: contain;
    }
}

.d-flex {
	position: relative;
	width: inherit;
	height: auto;
	padding: 100px 20px 20px 20px;
	margin: 0 0 0 0;

	&.form-register {
		padding: 60px 20px 20px 20px;
	}
}

form {
    padding: 20px 20px 40px 20px;
}

.logo-box {
    padding: 10px 0 10px 0;
    margin: 0 0 20px 0;
    background: rgb(34,34,34);
    background: linear-gradient(180deg, rgba(34,34,34,1) 0%, rgba(17,17,17,1) 100%);

    &.wizard-box {
        border-bottom: 1px solid #d4d4d4;
        background-color: #fafafa;
        margin: 0;
    }
}

.wizard {
    span {
        color: #AAA !important;

        &.badge-info {
            color: #FFF !important;
        }

        &.badge-success {
            color: #FFF !important;
        }
    }

    .step-content {
        float: initial !important;
        color: #333;

        button {
            width: auto;
            padding: 0;
            min-width: 180px;
            margin: 0 auto;
        }
    }

    .step-buttons {
        padding: 5px 0;
        font-size: 0.9em;
        background: #f5f5f5;
        border-top: 1px solid #DDD;

        span {
            padding: 10px 0;
        }

        button {
            width: auto;
            height: auto;
            padding: 5px 20px;
        }
    }
}

.verificationForm {
    //padding-top: 30px;
    input {
        margin: 0 5px;
        text-align: center;
        line-height: 80px;
        font-size: 50px;
        border: solid 1px #ccc;
        box-shadow: 0 0 5px #ccc inset;
        outline: none;
        width: 10%;
        transition: all .2s ease-in-out;
        border-radius: 3px;

        &:focus {
            border-color: #436692;
            box-shadow: 0 0 5px #436692 inset;
        }

        &::selection {
            background: transparent;
        }
    }

    &.success {
        input {
            background: rgba(111,200,111,0.4);
            color: rgb(57, 101, 57);
        }
    }

    &.error {
        input {
            background: rgba(200,111,111,0.4);
            color: rgb(101, 57, 57);
        }
    }
}

.setup-success {
    i {
        color: rgba(111,200,111,1);
        text-shadow: 1px 1px 2px rgba(10,10,10,0.2);
    }
}

/*.modal {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 10%;
    width: auto;
    height: auto;
    min-width: 300px;
    background: #FFF;

    .modal-top-bar {
        background: rgb(34,34,34);
        background: linear-gradient(180deg, rgba(34,34,34,1) 0%, rgba(17,17,17,1) 100%);
    }
}*/

.wizard .step-content {
    background: #FEFEFE;

    button {
        display: inline-block !important;

        &.btn-skip {
            float: left;
        }

        &.btn-next {
            float: right;
        }
    }

    button i {
        font-size: 1em;
        padding: 0 0 0 10px;
        vertical-align: middle;
    }

    .plan-summary {
        background: #F6F6F6;
        border: 1px solid #DDD;

        th {
            font-weight: 600;
            text-align: right;
            color: #444;
        }

        td {
            text-align: left;
            font-family: 'open sans', Arial;
            font-size: 0.9em;
            vertical-align: middle;
        }
    }

    h4 {
        font-size: 1.2em;
    }

    h5 {
        margin: 0 0 30px 0;
        font-size: 0.9em;
        font-family: 'Open Sans', Arial;
    }
}

.form, .setup {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 4px;
    //border-bottom: 3px solid @COLOUR_PRIMARY;
    background: #FFF;
    //background: url('/assets/images/form-overlay.jpg') no-repeat center center;
    //background-size: cover;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.6 );

    .input-icons i {
        position: absolute;
        color: #436692;
        padding: 0 10px;
        line-height: 50px;
        font-size: 1em;
    }

    .input-icons {
        width: 100%;
        margin-bottom: 10px;
    }

    .icon {
        padding: 10px;
        color: green;
        min-width: 50px;
        text-align: center;
    }

    .input-field {
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .d-inline-flex {
        width: 100%;
    }

    .padding {
        width: 100%;

        &.padding-right {
            //padding-right: 5px;
        }

        &.padding-left {
            //padding-left: 5px;
        }
    }

    button, select {
        display: block;
        width: 100%;
        max-width: 600px;
        height: 50px;
        margin: 0 0 20px 0;
        padding: 0 0 0 30px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    input[type="text"], input[type="password"], input[type="email"] {
        height: 50px;
    }

    input[name="firstname"] {
        border-right: none;
    }
    /*input[name="confirmPassword"] {
        border-left: none;
    }*/
    /*input[type="text"], input[type="password"] {
        width: 100%;
    }*/
    input[type="password"] {
        margin: 0 0 10px 0;
    }

    label {
        //display: block;
        font-size: 0.8em;
    }

    /*button {
        margin: 10px 0 10px 0;
        border-radius: 4px;
        transition: background 0.5s !important;
        color: #FFF;
        border: 1px solid darken(@COLOUR_VIVIDBURGUNDY, 15%);

        .gradient();

        &:hover {
            .gradient-hover();
        }
    }*/

    a {
        text-shadow: none;

        i {
            padding: 0 10px 0 0;
        }
    }
}

    .setup {
        //padding: 10px 20px 20px 20px !important;
        .setup-content {
            text-align: center;

            .timeOutMessage {
                font-size: 0.8em;
            }

            i {
                font-size: 3em;
                margin: 20px 0;
            }

            p {
                font-size: 0.9em;
            }

            span {
                font-size: 0.8em;
                color: #AAA;
            }
        }
    }

    .passwordRequirements {
        display: block;
        margin: 10px 0;
        padding: 10px 20px;
        background: rgba(198,17,32, 0.2);
        font-size: 0.9em;
        border: 1px solid rgba(198,17,32, 0.2);
        border-radius: 2px;
        color: hsla(340, 89%, 25%, 1) !important;
        text-shadow: 0 1px 0 rgba(255,255,255,0.5);

        span {
            display: block;
            margin: 0 0 5px 0;
        }

        ul {
            margin: 0;

            li {
                i {
                    color: rgba(200, 111, 111, 0.8);
                    padding: 0 5px 0 0;

                    &.fa-check {
                        color: rgb(110, 193, 60);
                    }
                }
            }
        }
    }

    button[disabled] {
        background: #DDD;
        color: #555;
        border: 1px solid darken(#DDD, 15%);

        &:hover {
            background: #DDD;
            color: #555;
            cursor: not-allowed;
        }
    }